* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #fafafa;
}
/* Navbar  */
.navbar {
  background-color: #514280;
  height: 4.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarRight {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

.logo a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.logo a:hover {
  color: #ddd;
}

.dropdown select {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 6px;
  border-radius: 5px;
  transition-duration: 200ms;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dropdown select:hover {
  background-color: #068556;
}
.dropdown select option {
  background-color: white;
  color: black;
}
.btn {
  display: flex;
  gap: 1rem;
}

.buildBtn,
.authBtn {
  background-color: #059862;
  padding: 8px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 200ms ease;
}

.buildBtn:hover,
.authBtn:hover {
  background-color: #068556;
}

/* Home Top  */
.home {
  width: 85%;
  margin: 1rem auto;
  height: 17rem;
  display: flex;
}

.homeLeft {
  width: 30%;
  background-color: #000000;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.homeLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeRight {
  width: 70%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.2rem;
}
.title h1 {
  font-weight: bold;
}
.desc {
  font-size: 1.2rem;
  margin: 1rem 0 1.5rem 0;
}
.startedBtn button {
  color: white;
  background-color: #04aa6d;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 200ms;
  border: none;
  font-weight: bold;
  font-size: 15px;
}
.startedBtn button:hover {
  background-color: #0c9664;
}
/* Featured products  */
.features {
  text-align: center;
  margin: 3rem 0;
}
.features h1 {
  font-size: 1.8rem;
  color: #c084fc;
  font-weight: bold;
  text-decoration: underline;
}
.productContainer {
  padding-bottom: 4rem;
  width: 87%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.product {
  height: 70vh;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: start;
  cursor: pointer;
}
.product:hover {
  border: 1.5px solid red;
}
.productTop {
  width: 100%;
  height: 45%;
  border-bottom: 1px solid rgb(208, 204, 204);
  padding: 0.5rem;
}
.productTop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productBotom {
  width: 100%;
  height: 55%;
  padding: 2rem;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 1rem;
  line-height: 20px;
}
.productName h1 {
  font-size: 1.1rem;
  color: #0e7693;
  text-decoration: none;
}
.category {
  color: #0e7db4;
}
.price {
  color: red;
}
.available {
  color: #c465b9;
}
.rating {
  color: #0e7490;
}
/* Footer  */
footer {
  background-color: #081621;
  width: 100%;
  height: 42vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.footCol {
  color: #14b8a6;
  display: flex;
  flex-direction: column;

  padding: 3rem;
}
.footCol h1 {
  color: #848b90;
}
.footCol ul li {
  list-style: none;
  margin: 1rem 0;
  cursor: pointer;
}
.footCol ul li:hover {
  text-decoration: underline;
}